.list-languages{
    li{
        display: inline-flex;
        &:hover{
            cursor: pointer;
        }
    }
    img{
        width: 20%;
    }
    .language-text{
        margin: 5px 10px;
        width: 100%;
    }
    .chosen{
        background-color: #fdc513;
        color:"white"
    }
}
.policy{
    margin-top: 10px;
}
.arabic{
    text-align: right;
    direction: rtl;
}